<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-transform " />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="applicable-device" content="mobile" />
  <title>奇热小说</title>
  <meta name="Keywords" content="" />
  <meta name="Description" content="" />
  <link rel="dns-prefetch" href="//m.qirexiaoshuo.com" />
  <link rel="dns-prefetch" href="//cj.qirexiaoshuo.com" />
  <link rel="canonical" href="//m.qirexiaoshuo.com/book/recent_read" />
  <link rel="stylesheet" type="text/css" href="/static/newtheme/assets/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/newtheme/assets/css/recharge.css" />
  <script>        var t_text = "奇热小说";
        var url_channel = "";
        if(url_channel != ''){
            try{
                var state = {title : t_text,url : url_channel};
                history.replaceState(state, t_text, url_channel);
            }catch(e){}
        }
    </script>
  <script type="text/javascript" src="/static/newtheme/assets/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/static/newtheme/assets/js/public.js"></script>
  <script type="text/javascript" src="/static/newtheme/assets/js/pay_3.js"></script>
  <style>        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
 </head>
 <body>
  <!-- bookshelf begin -->
  <div class="bookshelf">
   <ul>
    <li><a href="/home/Shelf/index">我的书架</a></li>
    <li><a href="javascript:;" class="active">最近阅读</a></li>
   </ul>
  </div>
  <!-- bookshelf end -->
  <!--书架书籍 begin-->
  <div class="search-result manage hot-box mar-foot lately">
   <div class="record-box">
    <span class="pull-left">共7条阅读记录</span>
   </div>
   <div class="entry">
    <div class="item">
     <a href="/book/21446/4604965/" class="read">2/2521章</a>
     <a href="/book/21446/4604965/"><img src="https://p.qirexiaoshuo.com/uploads/image/20170901/59a918c5517cc.jpg" class="avatar" />
      <div class="body">
       <span class="t">极品桃花运</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第2521章 地球，我回来了（终章）</p>
      </div></a>
     <div class="btn bh_btn active">
      已追书
     </div>
    </div>
    <div class="item">
     <a href="/book/21488/4648649/" class="read">19/528章</a>
     <a href="/book/21488/4648649/"><img src="https://p.qirexiaoshuo.com/uploads/image/20170810/598bace58e1ec.jpg" class="avatar" />
      <div class="body">
       <span class="t">我的白富美老板娘</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第528章 这样的结局甚好《大结局》</p>
      </div></a>
     <div class="btn bh_btn active">
      已追书
     </div>
    </div>
    <div class="item">
     <a href="/book/3735/208420/" class="read">2/53章</a>
     <a href="/book/3735/208420/"><img src="https://p.qirexiaoshuo.com/uploads/image/20160720/578eda0731826.jpg" class="avatar" />
      <div class="body">
       <span class="t">近身特工</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第五十三章：毁灭潘多拉</p>
      </div></a>
     <div class="btn bh_btn" onclick="recent_read_addshelf(this,3735,208420);">
      我要追书
     </div>
    </div>
    <div class="item">
     <a href="/book/2129/201671/" class="read">1/43章</a>
     <a href="/book/2129/201671/"><img src="https://p.qirexiaoshuo.com/uploads/image/20160720/578ecdbf3e7eb.jpg" class="avatar" />
      <div class="body">
       <span class="t">超极品姐妹花</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第四十四章 一人一半</p>
      </div></a>
     <div class="btn bh_btn" onclick="recent_read_addshelf(this,2129,201671);">
      我要追书
     </div>
    </div>
    <div class="item">
     <a href="/book/4125/308224/" class="read">472/472章</a>
     <a href="/book/4125/308224/"><img src="https://p.qirexiaoshuo.com/uploads/image/20160720/578ed035138c9.jpg" class="avatar" />
      <div class="body">
       <span class="t">法师亡魂</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第四卷安第二百三十五章</p>
      </div></a>
     <div class="btn bh_btn" onclick="recent_read_addshelf(this,4125,308224);">
      我要追书
     </div>
    </div>
    <div class="item">
     <a href="/book/22751/5156553/" class="read">2/35章</a>
     <a href="/book/22751/5156553/"><img src="https://p.qirexiaoshuo.com/uploads/image/20170925/59c8753cc1c7f.jpg" class="avatar" />
      <div class="body">
       <span class="t">我想和你白头到老</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第35章 故事的结局往往突如其来</p>
      </div></a>
     <div class="btn bh_btn" onclick="recent_read_addshelf(this,22751,5156553);">
      我要追书
     </div>
    </div>
    <div class="item">
     <a href="/book/13023/1426763/" class="read">1/721章</a>
     <a href="/book/13023/1426763/"><img src="https://p.qirexiaoshuo.com/uploads/image/20170306/58bd05c43929a.jpg" class="avatar" />
      <div class="body">
       <span class="t">孽火</span>
       <span class="author"></span>
       <p>最新章节：</p>
       <p>第721章 漠飞说（5）</p>
      </div></a>
     <div class="btn bh_btn" onclick="recent_read_addshelf(this,13023,1426763);">
      我要追书
     </div>
    </div>
   </div>
  </div>
  <!--书架书籍 end-->
  <div class="footer" id="footer_nav">
   <ul>
    <li><a href="/book/book_shelf.html"><i class="icon-book"></i>书架</a></li>
    <li><a href="/" class="active"><i class="icon-choice"></i>精选</a></li>
    <li><a href="/my/index.html"><i class="icon-my"></i>我的</a></li>
   </ul>
  </div>
  <div class="return-top" id="icon-top" style="display: none;">
   <a href="javascript:;"><i class="icon-top"></i></a>
  </div>
  <!--login begin-->
  <div class="backdrop bh_wxlogin_lay" style="display: none;"></div>
  <div class="modal bh_wxlogin_lay" style="margin-top: -114px; display: none;">
   <div class="inner clearfix">
    <div class="wechat-login-box">
     <div class="head">
      <div class="title">
       您还未登陆哦！
      </div>
     </div>
     <div class="body mt-10 clearfix">
      <a href="" class="btn qq mt-10">QQ一键登录</a>
     </div>
    </div>
    <div class="bottom">
      登录有问题？
     <a href="/my/kefu.html">联系客服</a>
    </div>
    <div class="pull-action">
     <a onclick="hide_login();"><i class="icon-close"></i></a>
    </div>
   </div>
  </div>
  <!--login end-->
  <!-- 选择充值书币数额面板 -->
  <div class="backdrop bh_recharge_box" style="display: none;"></div>
  <div class="item2p recharge_sc bh_recharge_box" style="display: none;">
   <div class="inner">
    <div class="title">
     <strong>请选择充值金额</strong>
     <p class="read">首充翻倍送书币</p>
    </div>
    <div class="close">
     <a href="javascript:;" onclick="hide_recharge_box();coupon_lay();"></a>
    </div>
    <div class="entry">
     <ul>
      <li><a onclick="switchCoins(this,50)" class="active"><i class="chong-icon-check"></i><span class="jine">50元</span><i class="cz-xian"></i>
        <div class="rt">
         <span class="tip">500书币+300书币</span>
         <i class="reward">(多送30元)</i>
        </div></a></li>
      <li><a onclick="switchCoins(this,30)"><span class="jine">30元</span><i class="cz-xian"></i>
        <div class="rt" style="line-height: 45px;">
         <span class="tip">300书币</span>
         <i class="reward">(多送0元)</i>
        </div></a></li>
      <li><a onclick="switchCoins(this,100)"><i class="chong-icon-check"></i><span class="jine">100元</span><i class="cz-xian"></i>
        <div class="rt">
         <span class="tip">1000书币+800书币</span>
         <i class="reward">(多送80元)</i>
        </div></a></li>
      <li><a onclick="switchCoins(this,200)" class=""><i class="chong-icon-check"></i><span class="jine">200元</span><i class="cz-xian"></i>
        <div class="rt">
         <span class="tip">2000书币+2000书币</span>
         <i class="reward">(多送200元)</i>
        </div></a></li>
     </ul>
    </div>
    <div class="btn">
     <a href="javascript:;" onclick="show_choice_pay();">立即充值</a>
    </div>
   </div>
   <input type="hidden" value="50" id="coinmoney" />
  </div>
  <!-- 选择充值书币数额面板 -->
  <!-- 支付浮层 -->
  <div class="backdrop choice_pay_box" style="display: none;"></div>
  <div class="item2p choice-pay choice_pay_box" style="display: none;">
   <div class="inner">
    <div class="title">
     <strong>选择支付方式</strong>
    </div>
    <div class="close">
     <a href="javascript:;" onclick="hide_choice_pay();"></a>
    </div>
    <div class="entry">
     <ul>
      <!--<li><a href="#"><i class="icon-ios"></i>苹果支付</a></li>-->
      <li id="now_wx"><a href="javascript:;" onclick="apiPay_now_fun();"><i class="icon-wechat"></i>微信支付</a></li>
      <li><a href="javascript:;" onclick="apiPay_zfb_fun();"><i class="icon-alipay"></i>支付宝支付</a></li>
     </ul>
    </div>
   </div>
  </div>
  <input type="hidden" id="pay_typeproid" value="2" />
  <!--支付浮层 -->
  <!-- 打赏 begin -->
  <div class="backdrop bh_dashang" style="display: none;"></div>
  <div class="item2p reward bh_dashang" style="display: none;">
   <div class="inner">
    <div class="title">
      打赏给
    </div>
    <div class="close">
     <a href="javascript:;" onclick="bh_hide_das_fun();"></a>
    </div>
    <div class="entry" id="bh_dashang_box">
     <ul>
      <li><a get_money="1.88" class="active">1.88元<i class="icon-check"></i></a></li>
      <li><a get_money="6.88">6.88元<i class="icon-check"></i></a></li>
      <li><a get_money="8.88">8.88元<i class="icon-check"></i></a></li>
     </ul>
    </div>
    <div class="field">
     <input type="text" name="money" id="dasmoney" placeholder="输入打赏金额" value="1.88" />
     <label class="label">打赏TA</label>
     <span class="unit">元</span>
    </div>
    <div class="btn">
     <a href="javascript:;" onclick="apiPay_zfb_fun(3);">支付宝支付</a>
    </div>
   </div>
  </div>
  <!-- 打赏 end -->
  <script>    $(function(){
        var fontSize=$(window).width()/25;
        $("html").css("font-size",fontSize);
        uid = "15030022";
    })
</script>
  <script type="text/javascript" src="/static/newtheme/assets/js/book_shelf.js"></script>
  <script>        $(function(){
            $('#footer_nav li a').removeClass('active');
            $('#footer_nav li').eq(0).find("a").addClass('active');
        })
    </script>
  <script>    // 支付宝支付
    var ispayon = 0;
    var paynow_url = "/nowpay/pay";
    function apiPay_now_fun(pro_id){
        if(ispayon == 1){
            return false;
        }
        ispayon = 1;
        if(!pro_id){
            pro_id = $('#pay_typeproid').val();
            if(parseInt(pro_id) < 1){
                pro_id = 2;
            }
        }
        // pro_id  1购买VIP  2购买书币  3打赏
        if(pro_id == 1){
            paytitle = '购买VIP';
            payfee = $("#vipmoney").val();
        }
        if(pro_id == 2){
            paytitle = '购买书币';
            payfee = $("#coinmoney").val();
        }
        if(pro_id == 3){
            paytitle = '打赏';
            payfee = $("#dasmoney").val();
        }
        if(pro_id == 4){
            paytitle = '优惠券';
            payfee = $("#coupinmoney").val();
        }
        if(pro_id == 5){
            paytitle = '整本购买';
            payfee = $("#shorebookpay").val();
        }
        payfee = parseFloat(payfee)+0;
        if(payfee < 0.01 || isNaN(payfee)){
            bh_msg_tips(paytitle+'金额不能小于0.01元');
            return false;
        }
        hide_choice_pay();
        hide_vip_choice_pay();
        checkandnowpay(payfee,pro_id,paytitle,bid,encodeURI(window.location.href));
    }

    var nowPayQuery = false;
    var payPackage = null;
    function checkandnowpay(fee,product_id,product_name,book_id,callback){
        var report_url = '/nowpay/pay';
        var report_data = {fee:fee,product_id:product_id,product_name:product_name,bid:book_id,callback:callback,random:Math.floor(Math.random() * 10000 + 1)};
        AjaxJson(report_url,report_data,function(res){
            ispayon = 0;
            if(res.status*1 == 1){
                payPackage = res.data;
                nowPayQuery = true;
                window.location.href=payPackage.weixin_url;
                //不知道他们的同步回调（前台回调）是怎么回事
            }else if(res.status*1 == -1){
                //需要登录
                bh_msg_tips("需要登录，请重新登录重试");
                show_login();
            }else if(res.status*1 == -2){
                //输入参数有问题
                bh_msg_tips("选择的充值信息有误，请重新选择重试");
            }else if(res.status*1 == -11){
                //输入参数有问题
                bh_msg_tips("下单失败，请稍后重试");
            }else {
                bh_msg_tips(res.msg);
            }
        });
    }
    function pageFocusQueryNowPay(){
        //查询是否支付成功，成功则提示成功，然后刷新页面
        if(nowPayQuery){
            AjaxJson('/nowpay/ajax_query',payPackage,function(res){
                if(res.status*1==1){
                    bh_msg_tips("支付成功");
                    setTimeout(function(){
                        window.location.reload();
                    },500);
                    return;
                }else{
//                    bh_msg_tips("未支付成功");
                    return;
                }
            });
        }
    }

    $(function(){
        setInterval(function () {
            pageFocusQueryNowPay();
        },2000);
    })
</script>
  <script>        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
  <script>    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fcd37298453821c3bc8b266221db88ac";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
  <script>    /*防止iframe劫持*/
    if (self.frameElement && self.frameElement.tagName == "IFRAME") {
        top.location.href=self.location.href;
    }
    if (window.frames.length != parent.frames.length) {
        top.location.href=self.location.href;
    }
    if (self != top) {
        top.location.href=self.location.href;
    }
    var cookie_channel = "";
    var cookie_user= "1509431471732";
    var pv_uid= "15030022";
    var noadduv = "0";
    if(parseInt(noadduv) > 0){
        cookie_user = 0;
    }

    if(parseInt(cookie_channel)*1 > 0){
        tj_pv_uvhost(pv_uid,cookie_channel,cookie_user);
            }

    // 记录pv 和uv
    function tj_pv_uvhost(uid,channel,user){
        var tj_pv_uv_url = "//uv.qirexiaoshuo.com/Index/record_pvuv";
        var tj_pv_uv_data = {uid:uid,channel:channel,user:user};
        AjaxJsonP(tj_pv_uv_url,tj_pv_uv_data)
    }
</script>
  <style>    #EG0phD8f,#ads44970830_wrap,#ads80245060_wrap { display:none !important; }
</style>
 </body>
</html>
