* { 
    margin: 0; /* 外间隔 */
    padding: 0;  /* 内间隔 */
    border: 0; /* 边框 */
    text-decoration: none; /* 消除初始文字装饰 随后各自定义 */
    list-style: none; /* 消除 ul li 点点装饰 */
    word-break: break-all; /* 文本强制拆断换行 */
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Microsoft YaHei',PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light',sans-serif;/* 字体 */
    font-size: 13px; /* 文本大小 全局 */
    line-height: 1.8 !important; /* 文本行间距 全局 */
    -webkit-text-size-adjust: 100%; /* 阻止 WebKit 内核自动缩放文字 */
    -ms-text-size-adjust: 100%; /* 阻止 IE 内核自动缩放文字 */
}
button, [type="submit"], .submit, input, textarea, select {
    font-family: Ubuntu, 'Microsoft YaHei', 'Open Sans', arial, sans-serif; /* 字体 */
    font-size: 12px; /* 文本大小 按钮*/
    line-height: 1.2; /* 文本行间距 按钮 与上面文本大小保持一致，14px 对应 1.4，注意之后不要再对 input, button, select 定义 line-height 以及 padding，这样将保持良好的兼容性 */
    padding: 0 5px; /* 宽间距 */
    outline: none; /* 消除边框元素 */
    resize: none; /* 阻止移动端拖拽缩放 */
    overflow: visible; /* 阻止 WebKit 拉伸 textarea 框 */
}
button, [type="submit"], .submit {
    padding: 0 10px; /* 按钮宽间距 */
}
textarea {
    height: inherit; /* textarea 高度 */
    padding: 5px; /* textarea 内间距 */
}
::-webkit-input-placeholder {
    color: #c0c0c0; /* placeholder 预设内容颜色 */
}
::-moz-placeholde {
    color: #c0c0c0; /* placeholder 预设内容颜色 */
}
:-ms-input-placeholde {
    color: #c0c0c0; /* placeholder 预设内容颜色 */
}
 a:link, a:visited { text-decoration: none; 
                      /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
                          outline: none; /* 消除边框元素 */
                            resize:none;
                            border:none;
 } 
 a:hover,a:active { text-decoration: none; 
                     /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
                         outline: none; /* 消除边框元素 */
                           resize:none;
                           /*border:none;*/

 }

a {
    text-decoration: none; 
   /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
      outline:none;
       resize:none;
      border:none;
}  



/* 滚动条 */
::-webkit-scrollbar{width:0.1px;height:0.1px;}
::-webkit-scrollbar-button:vertical{display:none;}
::-webkit-scrollbar-track:vertical{background-color:black;}
::-webkit-scrollbar-track-piece{background-color:rgba(255, 255, 255, 0.01);}
::-webkit-scrollbar-thumb:vertical{margin-right:0.1px; background-color:rgba(255, 255, 255, 0.01);}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#aaa;}
::-webkit-scrollbar-corner:vertical{background-color:rgba(255, 255, 255, 0.01);}
::-webkit-scrollbar-resizer:vertical{background-color:rgba(255, 255, 255, 0.01);}
